body {
  background: #abcd6f url(http://coolaj86.info/images/green-wheat.jpeg) no-repeat fixed top center /* Credit: TommyIX (http://www.istockphoto.com/googleimages.php?id=11751797&platform=blogger) */;
}
#blog-list li {
  padding: 2px;
  list-style-type: none;
}
#blog-list li a {
  text-decoration: none;
}
#blog-list li a:hover {
  text-decoration: none;
}

p {
  margin: 0 0 2em;
}
h1 {
  margin: 0;
}
a {
  color: #339;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
div {
  padding: 20px 0;
  border-bottom: solid 1px #ccc;
}

/* button 
---------------------------------------------- */
.button {
  display: inline-block;
  zoom: 1; /* zoom and *display = ie7 hack for display:inline-block */
  *display: inline;
  vertical-align: baseline;
  margin: 0 2px;
  outline: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font: 14px/100% Arial, Helvetica, sans-serif;
  padding: .5em 2em .55em;
  text-shadow: 0 1px 1px rgba(0,0,0,.3);
  -webkit-border-radius: .5em; 
  -moz-border-radius: .5em;
  border-radius: .5em;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
  box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.button:hover {
  text-decoration: none;
}
.button:active {
  position: relative;
  top: 1px;
}

.bigrounded {
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  border-radius: 2em;
}
.medium {
  font-size: 12px;
  padding: .4em 1.5em .42em;
}
.small {
  font-size: 11px;
  padding: .2em 1em .275em;
}

/* color styles 
---------------------------------------------- */

/* white */
.white {
  color: #606060;
  border: solid 1px #b7b7b7;
  background: #fff;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ededed));
  background: -moz-linear-gradient(top,  #fff,  #ededed);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed');
}
.white:hover {
  background: #ededed;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#dcdcdc));
  background: -moz-linear-gradient(top,  #fff,  #dcdcdc);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dcdcdc');
}
.white:active {
  color: #999;
  background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#fff));
  background: -moz-linear-gradient(top,  #ededed,  #fff);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#ffffff');
}

a {
  color: inherit;
  text-decoration: none;
  border-bottom:1px dotted;
  padding-left: 2px;
  padding-right: 2px;
  text-shadow: 1px 1px 1px #888;
  -webkit-text-shadow: 1px 1px 1px #888;
  -moz-text-shadow: 1px 1px 1px #888;
}
a:hover {
  border-bottom: 1px solid;
}
#article, #header {
  width: 950px;
  background-color: #FFF;
  padding: 10px;
  padding-left: 15px;
  margin: 15px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
pre {
  font-size: 9pt;
  width: 900px;
  padding: 5px;
  padding-right: 10px;
  padding-left: 10px;
  margin: 5px;
  margin-top: 20px;
  margin-bottom: 30px;
  /*
  box-shadow: 5px 5px 5px #888;
  -webkit-box-shadow: 5px 5px 5px #888;
  -moz-box-shadow: 5px 5px 5px #888;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  */
}
div > ol {
  background-color: #FFD;
  box-shadow: 5px 5px 5px #888;
  -webkit-box-shadow: 2px 2px 2px #888;
  -moz-box-shadow: 5px 5px 5px #888;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

ul.related {
  display: inline;
  text-decoration: none;
}
