<!DOCTYPE html>
<html>
<head>
  <title>{{ page.title }}</title>
  <link rel="stylesheet" type="text/css" href="{{ site.url_root }}/stylesheets/main.css" media="screen" />
  <link rel="stylesheet" type="text/css" href="{{ site.url_root }}/vendor/highlight/styles/sunburst.css" media="screen" />
  <script src="{{ site.url_root }}/vendor/highlight/highlight.pack.js"></script>
  <script>
    hljs.initHighlightingOnLoad();
  </script>
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', '___YOUR_UA_HERE___']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
</head>

<body>
  <h1 id="header"><a href="{{ site.url_root }}/">[Home]</a> {{ page.title }}</h1>

  <div id="article">
    {{ content }}
  </div>

  <script type="text/javascript">
  var disqus_shortname = '___YOUR_ID_HERE___';
  (function () {
    var s = document.createElement('script'); s.async = true;
    s.src = 'http://disqus.com/forums/___YOUR_ID_HERE___/count.js';
    (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
  }());
  </script>
</body>
</html>
